.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-items: center;
    margin-bottom: 50px;
}

p{
    
    font-family: "Montserrat";
    color: #FF6060;
    font-size: 17px;
}
