.mystyle{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    gap: 70px;
    background-color: #F7F7F7;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: "Montserrat";

        @media screen and (max-width: 768px){
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            background-color: white;
            padding-top: 10px;
           
            
        }
}