.chevronLeft{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 20px;
    font-size: 65px;
    color: white;
    z-index: 1;
    cursor: pointer;

}

.chevronRight{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 20px;
    font-size: 65px;
    color: white;
    z-index: 1;
    cursor: pointer;
}