.headerContainer{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div{
        width: 50%;
    }
    nav{
        width: 50%;

        ul{
            list-style-type: none;
            display: flex;
            justify-content: flex-end;

            li{
                margin-left:  50px;
            }
        }
    }
}