.headerContainer{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 768px){
                            
       margin-bottom: 20px;
        
    }
    
    div{
        width: 50%;

        

        img{
            @media screen and (max-width: 768px){
                width: 191px;
                height: 50px;
            }
            @media screen and (max-width: 446px){
                width: 151px;
                height: 41px;
            }
        }
        
    }
    nav{
        width: 50%;

        


        ul{
            list-style-type: none;
            display: flex;
            justify-content: flex-end;



            
            @media screen and (max-width: 768px){
                margin: 0;
                padding: 0 0 0 0;
                
            }

            li{
                margin-left:  50px;
                @media screen and (max-width: 768px){
                    margin-left: 20px;
                }
                a.active{
                    text-decoration: underline #FF6060;
                }

                a{
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    color: #FF6060;
                    text-decoration: none;
            
                    
                   
        
                    @media screen and (max-width: 768px){
                        font-size: 14px;
                        text-transform: uppercase;
                    }
                    @media screen and (max-width: 446px){
                        font-size: 12px;
                        text-transform: uppercase;
                    }
                }

            }
        }
    }

   
}

