.footerContainer{
    border: solid;
    background-color: black;
    width: 100%;
    height: 150px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

        &__picture{
            width: 50%;
            display: flex;
            justify-content: center;
            margin-top: 45px;

                img{
                    width: 122px;
                    height: 39.44px;
                }
        }
        &__copyright{
            width: 50%;
            display: flex;
            justify-content: center;

                p{
                    color: white;
                    font-size: 24px;
                }
        }
}